<header class="d-flex flex-column align-items-center pb-3 mb-5 border-bottom">
  <!-- Logos en haut -->
  <div class="d-flex justify-content-center mb-4"> <!-- augmente mb-4 pour plus d'espace sous les logos -->
    <img src="{{ site.github.url }}/assets/img/logoimt.png" alt="Logo IMT" style="height:80px; margin:0 150px;"> <!-- margin augmenté -->
    <img src="{{ site.github.url }}/assets/img/logout3.png" alt="Logo UT3" style="height:80px; margin:0 150px;">
    <img src="{{ site.github.url }}/assets/img/logolaplace.png" alt="Logo Laplace" style="height:80px; margin:0 150px;">
  </div>

  <!-- Titre et sous-titre -->
  <div class="text-center mb-7"> <!-- augmente mb-3 pour plus d'espace entre logos et texte -->
    <h1 class="fs-3 fw-bold mb-1">Page personnelle de Naomi</h1>
    <p class="fs-6 mb-0 text-muted">Bienvenue sur ma page personnelle, dédiée à mes travaux de recherche et publications.</p>
  </div>

  <!-- Ligne séparatrice au-dessus du menu -->
  <hr style="width:100%; border-top:1px solid #ccc; margin:10px 0;">

  <!-- Menu -->
  <nav class="d-inline-flex mt-2">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
