<header class="d-flex flex-column align-items-center pb-3 mb-5 border-bottom">

  <!-- Logos en haut -->
  <div class="d-flex justify-content-center mb-14"> 
    <!-- 
      mb-14 → marge sous le bloc des logos (espace entre logos et texte)
      margin:0 125px → espace horizontal entre chaque logo
      height:80px → taille verticale des logos
    -->
    <img src="{{ site.github.url }}/assets/img/logoimt.png" alt="Logo IMT" style="height:80px; margin:0 125px;">
    <img src="{{ site.github.url }}/assets/img/logout3.png" alt="Logo UT3" style="height:80px; margin:0 125px;">
    <img src="{{ site.github.url }}/assets/img/logolaplace.png" alt="Logo Laplace" style="height:80px; margin:0 125px;">
  </div>

  <!-- Titre et sous-titre -->
  <div class="text-center mb-9 mt-5"> 
    <!-- 
      mt-5 → espace au-dessus du texte (pour descendre le texte depuis les logos)
      mb-11 → espace entre le bloc texte et la ligne <hr>
      h1.mb-1 → espace entre le titre et le sous-titre
      p.mb-0 → pas de marge sous le paragraphe (modifier mb-0 si tu veux plus d'espace)
    -->
  <h1 class="fs-3 fw-bold mb-1">Naomi Albukerque's Personal Page</h1>
  <p class="fs-6 mb-0 text-muted">Welcome to my personal page, dedicated to my research work and publications.</p>
  </div>

  <!-- Ligne séparatrice au-dessus du menu -->
  <hr style="width:100%; border-top:1px solid #ccc; margin-top:40px; margin-bottom:20px;">
  <!-- 
    margin-top:40px → espace entre le bloc texte et la ligne
    margin-bottom:20px → espace entre la ligne et le menu
  -->

  <!-- Menu -->
  <nav class="d-inline-flex mt-0.5 justify-content-center flex-wrap">
    <!-- 
      mt-1 → marge au-dessus du menu, entre la ligne <hr> et les liens du menu
      flex-wrap → permet au menu de rester lisible si l’écran est étroit
    -->
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

</header>
