$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$linkColor: #212529;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

body a {
  color: $linkColor;
}

/* Publications */

.col-md-12 h1 {
  font-size: 2rem;
}

.col-md-12 h2 {
  font-size: 1rem;
}

.col-md-12 h3 {
  font-size: 0.95rem;
}

.col-md-12 p {
  font-size: 0.82rem;
  line-height: 1.6;
}

.col-md-12 em {
  font-size: 0.78rem;
  color: #666;
}

.col-md-12 a {
  font-size: 0.75rem;
}
.page-content h3 + p + p + p {
  font-size: 0.75rem;
}

.page-content em {
  font-size: 0.78rem;
  color: #666;
}

.page-content a {
  font-size: 0.75rem;
}
